.about {
  padding: 125px 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url("../assets/nossa-historia1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-content {
  display: flex;
  max-width: 500px;
}


.about-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #ffefef;
  margin-bottom: 1.5rem;
}

.about-text p {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ffffff;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                      url("../assets/nossa-historia1.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
  
  .about-content {
    flex-direction: column;
    margin: 0 auto;
  }
  
  .about-text {
    text-align: center;
  }

  .about-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
}